*{
	box-sizing: border-box;
	font-size: 16px;
}

header{
	padding-top: 10%;
	text-align: center;
	font-weight: bold;
	color:black;
}

div{
	border:1px solid black;
}

.menu{
 	padding-top: 2%;
 	border: none;
 }

.items{
	background-color: #555555;
	position: relative;
	float:left;
	width:30%;
	height:200px;
	margin-left: 3%;
	overflow:auto;
	padding:1%;

}

.food{
	position:absolute;
	top:0;
	right:0;
	font-weight: bold;
}
.chicken{
	background-color: #ff5500;
}

.beef{
	background-color: #00ff55;
}

.sushi{
	background-color: #5500ff;
}

@media (min-width: 768px) and (max-width: 991px){
	.no1, .no2{
	background-color: #555555;
	position: relative;
	float:left;
	width:45%;
	height:200px;
	margin-left: 3%;
	}

	.no3{
	background-color: #555555;
	position: relative;
	float:left;
	width:93%;
	height:200px;
	margin:3%;
	}
}

@media (max-width: 767px){
	.items{
	background-color: #555555;
	position: relative;
	float:left;
	width:90%;
	height:200px;
	margin: 3%;

	}

}