*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-family:'Oxygen', "Times New Roman", sans-serif;
}
body{
	background-color: #f7ce2b;
}

#specials-alert{
	position: absolute;
	top:50%;
	z-index:2000;
	width:80%;
}
#header-nav{
	position: fixed;
	background-color: #ff5100;
	margin-bottom: 0;
	border:1px solid black;
	width:100%;
	z-index: 100;
	

}
.clickbutton{
	padding:10px;
	margin:5px;
	color:#fff;
	font-size:1.5em;
	border:1px solid white;
	border-radius: 5px;
}
.clickbutton:hover, .clickbutton:active{
	background-color: #f7ce2b;
}

#clickbutton:hover{
	opacity:0.9;
	background-color: #666666;
	border:1px solid #bbb;
}

#logo-img{
	height:100px;
	width:100px;
	margin-right:;
}
#quote{
	font-size:1.3em;
	font-style: italic;
	text-transform: none;
	color:#11ff55;
}
.content{
	position:static;
	padding-top: 140px;
	overflow:auto;
	clear:right;

}

.slide-body{
	right:103px;
}

.slide-body .menu{
	right:0;
}

.content, .menu{
	-webkit-transition: right 300ms ease;
	-moz-transition: right 300ms ease;
	transition: right 300ms ease;
}
.main{
	-webkit-transition: width 300ms ease;
	-moz-transition: width 300ms ease;
	transition: width 300ms ease;

}

.menu{
	color:#aaa;
	position:fixed;
	right:-103px;
	z-index: 1000;

}
#nav-list{
	margin:30px auto;
	text-transform: uppercase;
	font-size:0.8em;
}

.list-items{
	background-color: #ff5100;
	border-radius: 10px;
	margin-bottom: 20px;
}

.list-items a{
	color:#11ff55;
}

/**** CAROUSEL***/
#mycarousel {
	margin-top: 10px;
}

#mycarousel .item { height: 400px; }

.carousel-caption h3{
	font-size: 40px;
	color:#11ff55;
}
.carousel-caption{
	font-size: 30px;
	color:#f7ce2b;
}

#slide1{
	background: url('../images/carousel-pizza1.jpg') top center no-repeat;
}

#slide2{
	background: url('../images/carousel-pizza2.jpg') top center no-repeat;
}

#slide3{
	background: url('../images/carousel-pizza3.jpg') top center no-repeat;
}
.alert{
	margin: 10px;
	display:none;
}
#coming-soon p{
	text-decoration: none;
}
#menu-tile, #offers-tile, #map-tile{
	height:200px;
	border:1px solid #ff5500;
	margin: 20px auto;
	width:100%;
	overflow:hidden;
	position:relative;
}
#menu-tile{
	background: url('../images/menu.jpg') no-repeat;
	background-position: center;
}
#offers-tile{
	background: url('../images/offers.jpg') no-repeat;
	background-position: center;

}


#menu-tile span, #offers-tile span, #map-tile span, .menu-item-tiles #name{
	background-color: #ff5100;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	opacity: 0.7;
	font-size: 1.2em;
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;	
}

#menu-tile:hover, #offers-tile:hover, #map-tile:hover{
	border:2px solid #fff;
}

/******footer*****/
.panel-footer{
	position:relative;
	bottom:0;
	width:100%;
	margin-top: 30px;
  	padding-bottom: 10px;
	border-top: 0;
	background-color: #ff5500;
}

#hours > span, #address > span, #contact>span {
  font-size: 1.1em;
}
#hours, #address, #contact{
padding-bottom:20px;
}

#hours hr, #address hr, #contact hr{
	width:60%;
	margin:10px auto;
}

#address small {
  color: blue;
  line-height: 1.8;
}

#copy{
	font-size:0.7em;
}
/******end footer*****/

/*****page 1*****/


/**Page2 Start**/
h2{
	color:#ff5500;
}
h3{
	font-weight: bold;
}

#tabs li{
	margin: 5px;
	background-color: #ff5500;
	border-top-right-radius:5px;
	border-top-left-radius: 5px; 
}
#tabs li:hover{
	
}

#tabs li.active{
	background-color: #fff;
}

#tabs li a{
	margin:0;
	color: #11ff55;
}
.menu-item-tiles{
	height: 100px;
	margin: 20px auto;
	width:100%;
	overflow:hidden;
	position:relative;
	border-bottom: 1px solid #af2401;
}

.menu-item-image{
	position: absolute;
	top:0;
	left:0;
	height:100px;
	width:100px;
	border:1px solid #fff;
}

.item-description{
	padding-top: 20px;
	padding-left:110px;
}
.price{
	position:absolute;
	top:1px;
	left:90px;
	padding:5px;
}
.label,{
	background-color: none;
}
.price span{
	font-size:1.2em;
}
#tnc{
	text-align:right;
}
/*****Media queries****/

/*****Small device- Mob****/
@media (max-width: 637px) {
	.content{
		padding-top:80px;
	}
	h2{
		font-size:20px;
	}
	h3{
		font-size:17px;
	}
	#logo-img{
		height: 60px;
		width:60px;
	}
	#quote{
		font-size: 0.8em;
	}
	#tabs li{
		margin:5px 2px;
	}
	#tabs li a{
		font-size:0.6em;
		padding:5px 7px;
	}
	
}

/******x-small devices*****/
@media (max-width: 320px) {
	.content{
		padding-top:80px;
	}
	#mycarousel .item { height: 140px; }
	
	.carousel-caption h3{
		font-size: 15px;
	}
	.carousel-indicators li{
		width:6px;
		height:6px;
	}
	.carousel-indicators .active{
		width:8px;
		height:8px;

	}
	.carousel-caption{
		font-size: 8px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(x-small).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(x-small).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(x-small).jpg') top center no-repeat;
	}
	
}

/******Medium size- tablets/ landscape mode******/
@media (min-width: 321px) and (max-width: 638px) {
	
	#mycarousel .item { height: 210px; }
	.carousel-caption h3{
		font-size: 15px;
	}
	.carousel-indicators li{
		width:6px;
		height:6px;
	}
	.carousel-indicators .active{
		width:8px;
		height:8px;

	}
	.carousel-caption{
		font-size: 8px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(small).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(small).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(small).jpg') top center no-repeat;
	}
	
}

/******Medium- tablet landscape/ small desktop*****/
@media (min-width: 639px) and (max-width: 992px) {
	.content{
		padding-top:100px;
	}
	h2{
		font-size:25px;
	}
	h3{
		font-size:17px;
		
	}

	#logo-img{
		height: 80px;
		width:80px;
	}
	#quote{
		font-size: 0.9em;
	}
	#tabs li{
		margin:8px 4px;
	}
	#tabs li a{
		font-size:0.8em;
		padding:5px 7px;
	}
	
	#mycarousel .item { height: 310px; }
	.carousel-caption h3{
		font-size: 30px;
	}
	.carousel-indicators li{
		width:8px;
		height:8px;
	}
	.carousel-indicators .active{
		width:10px;
		height:10px;

	}
	.carousel-caption{
		font-size: 20px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(med).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(med).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(med).jpg') top center no-repeat;
	}
	
}

/*****tablets*****/
@media (max-width:767px){
	#menu-tile, #offers-tile{
	max-width: 350px;
    margin: 20px auto;
	}
	#hours > span, #address > span, #contact>span {
  		font-size: 0.8em;
	}
	#hours, #address, #contact{
		padding-bottom:5px;
	}
	#copy{
		font-size:0.5em;
	}

}
