*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

#header-nav{
	position: fixed;
	background-color: #000;
	margin-bottom: 0;
	border:1px solid black;
	width:100%;
	z-index: 100;
	

}
.clickbutton{
	padding:10px;
	margin:5px;
	color:#fff;
	font-size:1.5em;
	border:1px solid white;
	border-radius: 5px;
}
.clickbutton:hover, .clickbutton:active{
	background-color: #333;
}

#clickbutton:hover{
	opacity:0.9;
	background-color: #666666;
	border:1px solid #bbb;
}

#logo-img{
	height:100px;
	width:100px;
	margin-right:;
}
#quote{
	font-size:1.3em;
	font-style: italic;
	text-transform: none;
	color:#ff5100;
}
.content{
	position:static;
	padding-top: 140px;
	overflow:auto;
	clear:right;
}

.slide-body{
	right:103px;
}

.slide-body .menu{
	right:0;
}

.content, .menu{
	-webkit-transition: right 300ms ease;
	-moz-transition: right 300ms ease;
	transition: right 300ms ease;
}
.menu{
	color:#aaa;
	position:fixed;
	right:-103px;
	height:100%;
	z-index: 1000;

}
#nav-list{
	margin:30px auto;
	text-transform: uppercase;
	font-size:0.8em;
}

.list-items{
	background-color: #333;
	border-radius: 10px;
}

#pizza-background{
	border-radius: 389px;
}

.container{
	overflow:hidden;
	shape-outside: polygon(1531px 495px, 1567px 318px, 1708px 177px, 1906px 126px, 2135px 198px, 2270px 441px, 2189px 681px,1924px 828px,1648px 741px );
  	shape-image-threshold: 0.5;
}


@media (max-width: 474px) {
	#logo-img{
		height: 80px;
		width:80px;
	}
	
}
/*
@media (min-width: 768px){
	#header-nav{
			height:100px;
	}
	.list-items{
	padding-bottom: 30px;
	}

	#navigation{
		padding-top:100px;
	}

	
}*/