*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#header-nav{
	position: fixed;
	background-color: #ff5100;
	margin-bottom: 0;
	border:1px solid black;
	width:100%;
	z-index: 100;
	

}
.clickbutton{
	padding:10px;
	margin:5px;
	color:#fff;
	font-size:1.5em;
	border:1px solid white;
	border-radius: 5px;
}
.clickbutton:hover, .clickbutton:active{
	background-color: #f7ce2b;
}

#clickbutton:hover{
	opacity:0.9;
	background-color: #666666;
	border:1px solid #bbb;
}

#logo-img{
	height:100px;
	width:100px;
	margin-right:;
}
#quote{
	font-size:1.3em;
	font-style: italic;
	text-transform: none;
	color:#11ff55;
}
.content{
	position:static;
	padding-top: 140px;
	overflow:auto;
	clear:right;
}

.slide-body{
	right:103px;
}

.slide-body .menu{
	right:0;
}

.content, .menu{
	-webkit-transition: right 300ms ease;
	-moz-transition: right 300ms ease;
	transition: right 300ms ease;
}
.main{
	-webkit-transition: width 300ms ease;
	-moz-transition: width 300ms ease;
	transition: width 300ms ease;

}

.menu{
	color:#aaa;
	position:fixed;
	right:-103px;
	z-index: 1000;

}
#nav-list{
	margin:30px auto;
	text-transform: uppercase;
	font-size:0.8em;
}

.list-items{
	background-color: #ff5100;
	border-radius: 10px;
	margin-bottom: 20px;
}

.list-items a{
	color:#11ff55;
}

/**** CAROUSEL***/
#mycarousel {
	margin-top: 10px;
}

#mycarousel .item { height: 400px; }

.carousel-caption h3{
	font-size: 40px;
	color:#11ff55;
}
.carousel-caption{
	font-size: 30px;
	color:#f7ce2b;
}

#slide1{
	background: url('../images/carousel-pizza1.jpg') top center no-repeat;
}

#slide2{
	background: url('../images/carousel-pizza2.jpg') top center no-repeat;
}

#slide3{
	background: url('../images/carousel-pizza3.jpg') top center no-repeat;
}



@media (max-width: 474px) {
	#logo-img{
		height: 80px;
		width:80px;
	}
	
}
@media (max-width: 320px) {
	
	#mycarousel .item { height: 140px; }
	.carousel-caption h3{
		font-size: 15px;
	}
	.carousel-indicators li{
		width:6px;
		height:6px;
	}
	.carousel-indicators .active{
		width:8px;
		height:8px;

	}
	.carousel-caption{
		font-size: 8px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(x-small).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(x-small).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(x-small).jpg') top center no-repeat;
	}
	
}
@media (min-width: 321px) and (max-width: 638px) {
	
	#mycarousel .item { height: 210px; }
	.carousel-caption h3{
		font-size: 15px;
	}
	.carousel-indicators li{
		width:6px;
		height:6px;
	}
	.carousel-indicators .active{
		width:8px;
		height:8px;

	}
	.carousel-caption{
		font-size: 8px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(small).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(small).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(small).jpg') top center no-repeat;
	}
	
}

@media (min-width: 639px) and (max-width: 992px) {
	
	#mycarousel .item { height: 310px; }
	.carousel-caption h3{
		font-size: 30px;
	}
	.carousel-indicators li{
		width:8px;
		height:8px;
	}
	.carousel-indicators .active{
		width:10px;
		height:10px;

	}
	.carousel-caption{
		font-size: 20px;
	}
	
	#slide1{
	background: url('../images/carousel-pizza1(med).jpg') top center no-repeat;
	}

	#slide2{
		background: url('../images/carousel-pizza2(med).jpg') top center no-repeat;
	}

	#slide3{
		background: url('../images/carousel-pizza3(med).jpg') top center no-repeat;
	}
	
}
