*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	background-image: url('') no-repeat;
	height:inherit;
}
header{
	position: relative;
	margin-bottom: 0;
}
#header-nav {
	border-radius: 0;
	margin:0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
 
}
.navbar-brand a:hover, .navbar-brand a:focus, .text span a:hover {
  text-decoration: none;
}
#logo-img {
	background: url('../images/LogoMakr.png') no-repeat;
	height:100px;
	width:112px;
	background-position: center;
	border-radius: 50px
}

#nav-list{
	margin-top:30px;
	text-transform: uppercase;
	font-size:0.8em;
}

#nav-list a:hover{
	color:blue;
}

span.active{
	color:#d200fc;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid purple;
}

.navbar-header button.navbar-toggle {
  clear: both;
}
 /*
 HEADER ENDS*/

.jumbotron{
	margin:auto;
	background-position: center;
	height:440px;
}
.index{
	background-image: url('../images/skydive.jpg');
}
#quote{
	margin: auto;
	padding-top: 50px;
	text-align: center;
	max-width: 500px;
}

#quote h2{
	text-transform:uppercase;
	font-weight: bold;
}

#quote span{
	font-style: italic;
	font-size: 1.2em;
}

/*End of Jumbotron*/
#quote, .text{
	color:#370554;

}
.col-xs-12 h3{
	text-align: center;
	font-weight: bold;
	padding-top: 0;
	margin-bottom: 0;
}

.intro{
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 20px;
}
.center, h4{
	text-align: center;
	color:blue;
}

.panel-footer{
	background-color: #666;
	position: relative;
}
#logo-mob{
	background-position: center;
	border-radius: 60px;
}
#copy, #contact{
	padding-bottom:10px;
}
section span{
	color:#ddd;

}

.text{
	padding-top:10px;
}

.about_us{
	background-image: url('../images/about.png');
}

.service{
	background-image: url('../images/skydiving_2.jpg');
}
.description{
	padding:10px auto 10px;
	position: center;
}
.text a{
	color:blue;
}
.text a:hover{
	color:#d200fc;
}

@media (max-width: 800px){
	#copy, #contact{
	text-align: center;
}

}

@media (max-width: 767px){

#nav-list li{
	text-align: center;
}
}
/*page 1 ends*/

